.media {
    height: auto;
    margin: 0rem;
}

.product-card .product-info {
    flex: 1;
    display: flex;
    border-top: solid 1px var(--border-color);
    margin-bottom: auto;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.stars svg {
    height: 20px;
    width: 20px;
}

.product-card .main-info .product-price {
    font-size: 14px;
}

.product-card .actions {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons {
    display: flex;
    flex-direction: column;
}